@charset "UTF-8";
/* CSS Document */

@font-face { 
	font-family: "Arca Majora 3"; 
	src: url('ArcaMajora3-Bold.otf'); 
} 

body {
	margin: 0;
	padding: 0;
	
}

a{
	color:#B2B2B2;
	text-decoration:none;
	-webkit-transition: color 1s;
	transition: color 1s;
	margin: 0px;
}


.content {
	margin-left: 20%;
	margin-right: 20%;
}


.title {
	font-family: "Arca Majora 3";
	font-size: 70px;
	margin: 0px;
	padding: 0px;
	display:inline-block;
	background: linear-gradient(
        45deg,
/*       #EECDA3, #EF629F,#EECDA3*/
		
		#c2e59c,#64b3f4,#c2e59c
    );
	color:#B2B2B2;
	-webkit-background-clip: text;
/*
	-webkit-transition: color 1s;
	transition: color 1s;
*/
    
}

.title:hover {
/*	color: #fff;*/
	-webkit-text-fill-color: transparent;
	animation: 5.5s rainbow linear infinite;
	cursor: default;
}

@keyframes rainbow {
    100% { background-position: 100vw 0px; }
}

.space {
	height: 50px;
	clear: both;
}

.space-small {
	height: 40px;
	clear: both;
}

#hobbes {
	width: 400px;
	display: block;
	margin: auto;
}

#gradient {
	height: 500px;
	background: linear-gradient(white, black)
}

#black {
	background-color: black;
}

.title-small {
	font-family: "Arca Majora 3";
	font-size: 50px;
	margin: 0px;
	color:#BFBFBF;
	text-decoration: none;
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#museum{
	-webkit-transition: color 1s;
	transition: color 1s;
}

#museum:hover {
	color: #6699ff;
}

button {
	background: none;
	color: inherit;
	border: none;
	padding: 0!important;
	font: inherit;
	cursor: pointer;
}

button:focus {
	outline: none;
}

#shark {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

.caption {
	font-family: "Arca Majora 3";
	font-size: 30px;
	margin: 0px;
	color:#BFBFBF;
}

.mofm {
	width: 49.3%;
	display: inline-block;
}

@media only screen and (max-width:700px) {
  /* For mobile phones: */
  .content {
    margin-left: 5%;
	margin-right: 5%;
  }
	
	#hobbes {
		width: 80%;
	}
}

#sights {
	-webkit-transition: color 1s;
	transition: color 1s;
}

#sights:hover {
	color: #ff6666;
}
